{% extends "layout.html" %}
{% load static %}


{% block content %}

{{ movies }}


    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Movies Database</h1>
            <p class="lead">The world's most popular and authoritative source for movies!</p>
        </div>
    </div>


    <div class="row bg-secondary mt-auto pt-3" style="color:dimgrey">
        <div class="col-md-12">
            <div class="card mb-3">
                <div class="row">
                    <div class="col-md-3">
                        <img class="card-img" src="{% static 'img/1.jpg'%}" alt="">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <div class="card-title">Shazam</div>
                            <p class="card-text">
                                The film follows teenager Billy Batson (Angel) as he is chosen by the ancient wizard Shazam (Hounsou) to be his new champion.
                            </p>
                            <p class="card-text">
                                <small class="text-muted">3 days ago</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-3">
                <div class="row">
                    <div class="col-md-3">
                        <img class="card-img" src="{% static 'img/2.jpg'%}" alt="">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <div class="card-title">Amazing Grace</div>
                            <p class="card-text">
                                Amazing Grace is a 2018 concert film "realized and produced" by Alan Elliott. The film's footage was shot under the direction of Sydney Pollack.
                            </p>
                            <p class="card-text">
                                <small class="text-muted">3 days ago</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-3">
                <div class="row">
                    <div class="col-md-3">
                        <img class="card-img" src="{% static 'img/3.jpg'%}" alt="">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <div class="card-title">High Life</div>
                            <p class="card-text">
                                Monte (Robert Pattinson) and his baby daughter are the last survivors of a damned and dangerous mission to deep space.
                            </p>
                            <p class="card-text">
                                <small class="text-muted">3 days ago</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-3">
                <div class="row">
                    <div class="col-md-3">
                        <img class="card-img" src="{% static 'img/4.jpg'%}" alt="">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <div class="card-title">Billboard</div>
                            <p class="card-text">
                                Casey's grand plan is to host a billboard sitting contest, where four lucky contestants have the opportunity to win nine-sixty thousand dollars.
                            </p>
                            <p class="card-text">
                                <small class="text-muted">3 days ago</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-3">
                <div class="row">
                    <div class="col-md-3">
                        <img class="card-img" src="{% static 'img/5.jpg'%}" alt="">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <div class="card-title">Storm Boy</div>
                            <p class="card-text">
                                Retired businessman Michael Kingley reminiscences his childhood days spent on an isolated coastline and tells his grandchild about the special bond he shared with a rescued pelican.
                            </p>
                            <p class="card-text">
                                <small class="text-muted">3 days ago</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>


    


{% endblock%}